$zIndex     : 1100;
$drawerWidth: 200px;

.panel {
    display: flex;
}

.drawer {
    z-index    : $zIndex - 100;
    flex-shrink: 0;
    width      : $drawerWidth;
}

.drawer-paper {
    width: $drawerWidth;
}

.asset {
    flex-grow: 1;
}

.nested-list {
    padding: {
        left: 10px !important;
    }
}

.selected {
    background: {
        color: yellow !important;
    }
}
